html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

.tree-level-wrapper {
	width: 300px;
	background-color: #E3F2FD;
	padding: 10px;
	margin: 35px;
	border-radius: 12px;
}

/* TODO: because width is set assuming that choice/text appears to the left, need to do something special for root of entire tree*/
.parent-node-wrapper {
	display: flex;
	align-items: center;
	width: 600px; /*290 for "choices card" + 300 for another parentNode */
}

.create-child {
	display: flex;
	justify-content: center;
}

.close-button {
	margin-top: 8px;
	position: relative;
	top: 4px;
	left: 4px;
}

.delete-parent-button button,
.branch-button button, 
.close-button button, 
.parent-close-button button {
	/* need to make the button smaller but material-ui component forces size via inline styles :(*/
	width: 30px !important;
	height: 30px !important;
}

.delete-parent-button svg,
.branch-button svg,
.close-button svg, 
.parent-close-button svg {
	/* need to make the button smaller but material-ui component forces size via inline styles :(*/
	width: 18px !important;
	height: 30px !important;
}

.branch-button, .delete-parent-button {
	position: relative;
}

.branch-button > div:first-child {
	position: absolute;
	left: -5px;
}

.delete-parent-button > div:first-child {
	position: absolute;
	left: 23px;
	top: 23px
}

.leaf-card-content {
	display: flex;
	align-items: center;
}